{% load static %}
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peludos Unipê</title>
</head>
<body>
    {%for ani in anim%}
    <div class="quadrados">
        <div id="quadrado">
           <img src="{{ani.Img}}" alt="" id="gato">
           <h1 id="nome">{{ani.Nome}}</h1>
           <p id="caracteristicas">{{ani.Caracteristicas}}</p>

            {% endfor %} 
        </div>
    </div>
</body>
</html>