{% load static %}
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> 
    <meta charset="UTF-8">
    <meta name="viewport" rgb(184, 135, 72)content="width=device-width, initial-scale=1.0">
    <title>Pelados Unipê</title>
</head>
<body>
    <div class="quadrados">
        {%for ani in anim%}
        <div class="quadrado">
           <a href="{%url 'output'%}" target="_blank">
           <img src="{{ani.Img}}" alt="" class="gato"></a>
           <h1 class="nome">{{ani.Nome}}</h1>
           <h2 class="idade">{{ani.Idade}} Anos</h2>
           <p class="caracteristicas">{{ani.Caracteristicas}}</p>
        </div>    
        {% endfor %} 
    </div>
</body>
</html>