{%load static%}
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> 
    <meta charset="UTF-8">
    <meta name="viewport" rgb(184, 135, 72)content="width=device-width, initial-scale=1.0">
    <title>Peludos Unipê</title>
</head>
<body>
    <header>
        <div class="logo">
            <h1>AdotaAí</h1>
            <img src="../static/imagens/placeholder1.png" alt="">      
        </div>
        <nav class="menu">
            <ul>
                <a href="{%url 'index'%}"><li>Início</li></a>
                <a href="{%url 'central'%}"><li>Central de ONGs</li></a>
                <a href="{%url 'peludos'%}"><li>Peludos Unipe</li></a>
            </ul>
        </nav>
    </header>

    <div class="quadrados">
        <h1>Pets disponíveis para adoção na Peludos Unipe</h1>
        <section>
            {%for ani in anim%}
            <div class="quadrado">
               <a href="{%url 'output'%}" target="_blank"><img src="{{ani.Img}}" alt="" class="gato"></a>
               <div class="textos">
                    <h2 class="nome">{{ani.Nome}}</h2>
                    <h3 class="idade">{{ani.Idade}} Anos</h3>
                    <p class="caracteristicas">{{ani.Caracteristicas}}</p>
               </div>
            </div>    
            {% endfor %}     
        </section>
    </div>    
<footer>
    <div class="footerL">
        <h1>AdotaAí</h1>
        <img src="../static/imagens/placeholder1.png" alt="Foto">
    </div>
    <div class="footerR">
        <div class="link">
            <ul>
                <li><p><b>Endereços</b></p></li>
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSdO5zbxHTF_7VVZeIPHoHmrWsVES-dtfVRGOhmUaT6blfWBgw/viewform"><li>Formulário de Adoção</li></a>
            </ul>
        </div>
        <div class="Contatos">
            <ul>
                <li><p><b>Endereços</b></p></li>
                <a href="https://www.instagram.com/peludosunipe/"><li>Instagram</li></a>
            </ul>
        </div>
        <div>
            <ul>
                <li><p><b>Doação e Pix</b></p></li>
                <li>peludosunipe@hotmail.com</li>
            </ul>
        </div>
    </div>
</footer>
</body>
</html>