body
{
    background-color: rgb(184, 135, 72);
}
.quadrados{
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;   
    gap: 20px; 
}
.quadrado{
    height: 17em;
    width: 15em;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    flex: 1 1 calc(33.333% - 40px);
    padding: 0 3% 2% 3%;
}

.gato{
    height: 8.5em;
    width: 15em;
    position: fixed;
    border-radius: 0.4em;
    position: absolute;
    padding-top: 1px;
}
.nome{
    align-items: center;
    padding-top: 3.5em;
    position: absolute;
}

.caracteristicas{
    padding-top: 11em;
    padding-left: 1em;
}
