body
{
    color:black;
    background-color: #1d4528;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 120%;
    width: 100%;
    color: #1d4528;
    overflow-x: hidden;
}

header
{
    justify-content: center;
    text-align: center;
    position: fixed;    
    box-shadow: 0px 4px 10px rgba(0, 0, 0, .5); 
    width: 100%;
    background-color: rgb(240, 196, 146);
    margin: none;
    top: 0;
    left: 0;
    z-index: 1000;
}
header a 
{
    text-decoration: none;
}
footer a
{
    color: currentColor;
}
.logo img 
{
    width: 2em;
    height: 2em;
}
/*#####################################################*/
.logo
{
    justify-content: center;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    height: 4em;
}
.menu
{
    border-top: groove 1px #1d4528;
    display: flex;
    justify-content: center;
    height: 2.5em;

}

.menu ul
{ 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
}
.menu li
{
    list-style-type: none;
    transition: .2s;
}
.menu li:hover
{
    transform: scale(1.3);
}
.menu a
{
    color: currentColor;

}
/*#####################################################*/


/*#####################################################*/
.c1
{
    display: flex;
    background-color: rgb(240, 196, 146);
    margin-top: 1em;
    height: 24em;
    align-items: center;
}
.conteudo1
{
    margin: .5% 0 0;
    border-radius: 5px;
    text-align: center;
    padding: .1% 5% 1% 5%;
    color: #1d4528;
    font-size: 125%;
    width: 70%;
}   
.painel2
{
    width: 30%;
    height: 90%;
    display: flex;
    margin-left: 2%;
    margin-right: 2%;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.painel2 img
{
    width: 120%;
    margin-left: 10%;
    border-radius: 10px;
    border: 2px solid black;
    
}
/*#####################################################*/
.c2texto
{
    margin: .5% 1% 1% 1%;
    border-radius: 20px;
    text-align: center;
    padding: .1% 3% 1% 3%;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, .5);
    background-color: rgb(240, 196, 146);
    color: #1d4528;
    font-size: 110%;   
    display: flex;
    align-items: center;
    transition: .2s;
    width: 3%;
}

.c2texto h2
{
    margin-right: 3%;
}

.conteudo2 
{
    max-width: 100%;
    display: flex;
    justify-content:space-evenly;
    box-sizing: border-box;
    flex-wrap: wrap;
    margin: .8% 5% 0 5%;
}
.conteudo2 img
{
    margin: 0 1% 3% 1%;
    width: 3.5em;
}

.conteudo2 div
{
    min-width: 45%;
    padding: 0 15px;
    word-wrap: break-word;
    flex-basis: 20%;
    margin: .3%;
    background-color: rgb(240, 196, 146);
    color: #1d4528;
    border-radius: 10px;
    text-align: center;
}
.c2texto:hover
{
    transform: scale(1.05);
}
/*#####################################################*/
.conteudo3
{
    display: flex;
    justify-content: space-between;
    margin: .7em 0 0;
    font-size: x-large;
    border-top: 2px solid black;
    border-bottom: 2px solid black;    
    border-radius: 10px;
    background-color: rgb(240, 196, 146);
    color: #1d4528;
}

.conteudo3 div
{
    padding: 2%;
}


.c3texto
{
    width:100%;
}
.c3texto h1
{
    text-align: center;
}
.c3video
{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.c3video video
{
    border-radius: 30px;
    width: 100%;
    margin: 0 20% 0 10%;
}
/*#####################################################*/
.meinho{
    margin: 6em 0 0;
    padding: 1em 0 1em 0;
    width: 100%;
    height:fit-content;    
    border-radius: 5px;
    border-top: solid 1px;
    border-bottom: solid 1px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    box-sizing: border-box;
    background-color: rgb(240, 196, 146);
    transform: scale(.9);
}
.meinho h1
{
    margin: 1em;
}
.meinho div
{
    border: solid 1px;
    width: 20%;
    justify-content: center;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    margin: 1em;
    background-color: rgb(240, 196, 146);
    transition: .2s;
    border-radius: 10px;
    position: relative;
    overflow: hidden;

}
.meinho div:hover
{
    transform: scale(1.1);
}
.meinho img
{
    margin: 0.5em;
    width: 90%;
    object-fit: fill;
}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/*#####################################################*/
.carrossel
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
}
.slider
{
    margin-top: 7.5em;
    width: 80%;
    height: 210px;
    overflow: hidden;
    border-radius: 10px;
    justify-content: center;
}
.slides
{
    width: 400%;
    height: 210px;
    display: flex;
    overflow: hidden;
    
}
.slides input
{
    display: none;
}
.slide
{
    overflow: hidden;
    height: min-content;
    width: 25%;
    height: 13em;
    position: relative;
    
}
.slide img
{
    width: 100%;
    height: 100%;
}
.manual-navigation
{
    position: absolute;
    width: 75em;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual-btn
{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child)
{
    margin-right: 40px;
}

.manual-btn:hover
{
    background-color: #fff;
}
.first
{
    transition: 1s ;
}
#radio1:checked ~ .first
{
    margin-left: 0;
}
#radio2:checked ~ .first
{
    margin-left: -25%;
}
#radio3:checked ~ .first
{
    margin-left: -50%;
}
#radio4:checked ~ .first
{
    margin-left: -75%;
}
.navigation-auto div
{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.navigation-auto{
    position: absolute;
    width: 75em;
    margin-top: 170px;
    display: flex;
    justify-content: center;
}
.navigation-auto div:not(:last-child)
{
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1
{
    background-color: #fff;
}
#radio2:checked ~ .navigation-auto .auto-btn2
{
    background-color: #fff;
}
#radio3:checked ~ .navigation-auto .auto-btn3
{
    background-color: #fff;
}
#radio4:checked ~ .navigation-auto .auto-btn4
{
    background-color: #fff;
}
/*#####################################################*/
footer
{
    color: #1d4528;
    min-height: 100px;
    height: 20vh;
    margin-top: 2em;
    border-top: solid 1px black;
    background-color: rgb(240, 196, 146);
    display: flex;
    width: 100%;
}
.footerL {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 30%;
}
.footerL h1 {
    margin: 0;
    font-size: xx-large;
}
.footerL img {
    width: 3em;
    height: 3em;
    margin-top: 10px;
}
.footerR {
    display: flex;
    margin-left: 14em;
    justify-content: space-between;
}
.footerR li
{
    text-align: center;
    list-style: none;
}
.link{

}
.contatos{
}

::-webkit-scrollbar
{
    width: 10px;
}
::-webkit-scrollbar-thumb
{
    width: 10px;
    background-color: rgb(240, 196, 146);
    border-radius: 10px;
}