{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="{% static 'css/index.css'%}">
</head>
<body>
    <header>
        <div class="logo">
            <h1>AdotaAí</h1>
            <img src="../statics/imgs/placeholder1.png" alt="">      
        </div>
        <nav class="menu">
            <ul>
                <a href"{%url 'index'%}"><li>Início</li></a>
                <a href="{%url 'centralOngs'%}"><li>Central de ONGs</li></a>
                <a href="{%url 'peludos'%}"><li>Peludos Unipe</li></a>
            </ul>
        </nav>
    </header>
    <!--#########################################-->
    <div class="meinho">
            <h1>Lista da Paraiba e Região</h1>
        <section>
            <div id="arroz">
                <a href="https://www.instagram.com/abrigodamichelle"><img src="../statics/imgs/abrigoDaMichelle.jpg" alt=""></a>
            </div>
            <div>
                <a href="https://adotapet.recife.pe.gov.br"><img src="../statics/imgs/adotaPet.png" alt=""></a>
            </div>
            <div>
                <a href="https://www.instagram.com/adotajp/"><img src="../statics/imgs/adotaJP.jpg" alt=""></a>
            </div>
            <div>
                <a href="https://www.instagram.com/clube4patas/"><img src="../statics/imgs/4patas.jpg" alt=""></a>
            </div>
            <div>
                <a href="https://www.facebook.com/a4.ong/?locale=pt_BR"><img src="../statics/imgs/a4PB.jpg" alt=""></a>
            </div>
            <div>
                <a href="https://www.instagram.com/peludosunipe/"><img src="../statics/imgs/peludosUnipe.jpg" alt=""></a>
            </div>
            <div>
                <a href="https://cantinhodafilo.com.br"><img src="../statics/imgs/cantinhoDaFilo.png" alt=""></a>
            </div>

        </section>
    </div>
    <footer>
        <div class="footerL">
            <h1>AdotaAí</h1>
            <img src="../statics/imgs/placeholder1.png" alt="Foto">
        </div>
        <div class="footerR">
            <div class="link">
                <ul>
                    <li><p><b>Endereços</b></p></li>
                    <a href=""><li>Link Tree</li></a>
                    <a href="https://rifa.digital/s/peludos82583"><li>Rifa</li></a>
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSdO5zbxHTF_7VVZeIPHoHmrWsVES-dtfVRGOhmUaT6blfWBgw/viewform"><li>Formulário de Adoção</li></a>
                </ul>
            </div>
            <div class="Contatos">
                <ul>
                    <li><p><b>Endereços</b></p></li>
                    <a href="https://www.instagram.com/peludosunipe/"><li>Instagram</li></a>
                </ul>
            </div>
            <div>
                <ul>
                    <li><p><b>Doação e Pix</b></p></li>
                    <li>peludosunipe@hotmail.com</li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>